{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form>
                    <fieldset>
                        <legend>General</legend>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input id="firstName" class="form-control" type="text" v-model="user.firstName"
                                   placeholder="Enter first name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input id="lastName" class="form-control" type="text" v-model="user.lastName"
                                   placeholder="Enter last name">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input id="username" class="form-control" type="text" v-model="user.username"
                                   placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input id="email" class="form-control" type="email" placeholder="Enter email" v-model="user.email">
                        </div>
                    </fieldset>

                    <!-- Address -->
                    <fieldset>
                        <legend>Address</legend>
                        <div class="form-group">
                            <label for="street">Street</label>
                            <input id="street" class="form-control" type="text" v-model="user.address.street"
                                   placeholder="Enter street">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input id="city" class="form-control" type="text" placeholder="Enter city" v-model="user.address.city">
                        </div>
                        <div class="form-group">
                            <label for="zipCode">Zip Code</label>
                            <input id="zipCode" class="form-control" type="text" v-model="user.address.zipcode"
                                   placeholder="Enter zip code">
                        </div>
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input id="country" class="form-control" type="text" v-model="user.address.country"
                                   placeholder="Enter country">
                        </div>
                    </fieldset>

                    <!-- Company -->
                    <fieldset>
                        <legend>Company</legend>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" v-model="checked">
                            <label class="form-check-label" for="hasCompany">Has a company</label>
                        </div>
                        <div class="form-group" v-if="checked">
                            <label for="name">Company Name</label>
                            <input id="name" class="form-control" type="text" v-model="user.company.name"
                                   placeholder="Enter company name">
                        </div>
                        <div class="form-group" v-if="checked">
                            <label for="description">Company Description</label>
                            <input id="description" class="form-control" type="text" v-model="user.company.description"
                                   placeholder="Enter company description">
                        </div>
                    </fieldset>

                    <button type="submit" class="btn btn-primary" v-on:click="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{- parent() -}}

    <script>
        let form = new Vue({
            el: 'form',
            data: {
                checked: false,

                user: {
                    firstName: null,
                    lastName: null,
                    username: null,
                    email: null,
                    address: {
                        street: null,
                        country: null,
                        city: null,
                        zipcode: null
                    },
                    company: {
                        name: null,
                        description: null
                    }
                }

            },
            methods: {
                submit: function (event) {
                    event.preventDefault();

                    $.ajax({
                        type: 'POST',
                        url: '/form',
                        data: JSON.stringify(this.user),
                        contentType: "application/json",
                        dataType: 'json'
                    })
                        .done(function () {
                            alert('The form has been successfully saved');
                            that.trigger('reset');
                        })
                        .fail(function( jqXHR, textStatus, errorThrown ) {
                            let json = JSON.parse(jqXHR.responseText);
                            let messages = Object.values(json.errors);
                            alert(messages[0]);
                        })
                        .always(function () {
                            console.log('finished');
                        });
                }
            }
        });
    </script>
{% endblock %}